{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h2 class="mb-4">Welcome, {{ user.first_name|default:user.username }}</h2>

<div class="row mb-4">
    <!-- Clickable Stats -->
    <div class="col-md-4">
        <a href="{% url 'car-list' %}" class="text-decoration-none">
            <div class="card text-white bg-primary mb-3 shadow-sm h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Your Cars</h5>
                    <p class="card-text display-6">{{ total_cars }}</p>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="{% url 'request-list' %}" class="text-decoration-none">
            <div class="card text-white bg-success mb-3 shadow-sm h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Maintenance Requests</h5>
                    <p class="card-text display-6">{{ total_requests }}</p>
                </div>
            </div>
        </a>
    </div>




{% endblock %}
